<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="icon" href="https://i.imgur.com/UHfW6h7.png">
</head>
<body class="font-sans">

    <div class="vyshyvanka-sidebar vyshyvanka-left"></div>
    <div class="vyshyvanka-sidebar vyshyvanka-right"></div>
    
    <div class="site-wrapper">
        <!-- Inclui o Cabeçalho -->
        {% include header.html %}

        <!-- O conteúdo de cada página será inserido aqui -->
        <main class="page-content-wrapper">
            {{ content }}
        </main>

        <!-- Inclui o Rodapé -->
        {% include footer.html %}
    </div>
    
    <script>
        const menuBtn = document.getElementById('menu-toggle-btn');
        const mobileMenu = document.getElementById('mobile-menu');
        if(menuBtn && mobileMenu){
            menuBtn.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        }
    </script>
</body>
</html>